@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Titillium+Web:wght@300&display=swap');

#content {
    max-width:1600px;
    margin: 0 auto;
}

body {
    background-color: #D0CD94;
    font-family: "Tillium+Web", Helvetica, sans-serif;
    font-size: 22px;
    margin:0;
    padding:0;
}

header {
    background-color: #315C2B;
    padding-left: 35px;
    padding-top:15px;
    padding-bottom:15px;
}

.logo {
    width:80px;
    padding-left: 15px;
}

nav a {
    text-align: center;
    background-color: #315C2B;
    color: #D0CD94;
    text-decoration: none;
    padding: 5px 35px 
}

nav a:hover {
    background-color: #315C2B;
    color: white;
    text-decoration: underline;
}

p {
    color:black;
    padding-bottom: 15px;
}

main section {
    text-align: center;
}
main section image {
    box-sizing: border-box;
}

footer {
    background-color: #b1af83;
    color: #274029;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a {
    
    color:#274029;
    text-decoration: none;
}

footer a:hover {
    color:white;
    text-decoration: underline;
}
h2 {
    color: black;
    margin:0;
}

.home-title {
    color: black;
    margin-top:10px;
}



.icon {
    width:100px;
    padding-top:10px;
}

.book {
    background-color: #D0CD94;
    color: black;
    text-decoration: none;
    padding: 15px 30px;
    margin-top:50px;
    border-radius: 5px;
}
.book:hover {
    background-color: #b1af83;
    color: white;
    text-decoration: underline;
}

.join {
    background-color: #b1af83;
    color: black;
    text-decoration: none;
    padding: 15px 30px;
    margin-top:50px;
    border-radius: 5px;

}
.join:hover {
    background-color: #D0CD94;
    color: white;
    text-decoration: underline;
}

#hero-msg h1 {
    text-align: center;
}

#hero-img {
    width: 100%
}

#hero-msg h4 {
    text-align: center;
    color: black
}

.button-box {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #b1af83;
}

#logo_link {
    padding-top: 5px;
}

.msg {
    background-color: #b1af83;
    color: black;
    line-height: 1.5em;
    padding: 35px;
}

.home-title {
    font-family: '', '', sans-serif;
    font-size: 2em
}

footer .social img{
    padding: 35px;
}

.card-img {
    border: 5px solid #274029
}

.rivers-card {
    margin: 200px 0;
}

.camping-card {
    margin: 200px 0;
}

.rapids-card {
    margin: 200px 0;
}